*{
    margin: 0;
}
body{
    transition: 500ms;
}
.container{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.parent{
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 10%;
    border: none;
    /* background-color: red; */
    padding: 2.5%;
}
.oddCircle{
    flex: 0 1 100%;
    padding-top: 100%;
    /* padding: 15%; */
    background-color: red;
    border-radius: 50%;
    transition: background-color 500ms;
}
.evenCircle{
    flex: 0 1 100%;
    padding-top: 100%;
    /* padding: 15%; */
    background-color: blue;
    border-radius: 50%;
    transition: background-color .5s;
    /* transform: scale(.2,.2); */
}

.oddCircle.hidden{
    transition: background-color 500ms;
    transition: transform 5000ms;
    opacity: 0;
}
.evenCircle.compressed{
    transition: background-color 500ms;
    transition: transform 2000ms;
    transform: scale(.5,.5);
}
.evenCircle.resized{
    transition: background-color 500ms;
    transition: transform 2000ms;
    transform: scale(.2,1);
}
.oddCircle.compressed{
    transition: background-color 500ms;
    transition: transform 500ms;
    transform: scale(.2,.2);
}
.oddCircle.halfCompressed{
    transition: background-color 500ms;
    transition: transform 500ms;
    transform: scale(.4,.4);
}
